<!DOCTYPE html>

<html>

    <head>
        <title> Y| Home </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>

        <div class="body_wrap">
            <img src="/static/images/logo.jpg" id="logo" >
            <h4> Yelpz </h4>
        <hr>

    
        
        <div id="form_wrap">
            <form action="/showResult" method="POST" class="form">
                <input onfocus="this.value=''" type="text" name="term" placeholder=" Food, Business ..."> </input>
                <input onfocus="this.value=''" type="text" name="city" value="{{ city }}" > </input>
                <button type="submit"> Submit </button>
            </form>
        </div>
       

        {% for x in range(0,2) %}
        <div class="blink_red">

        </div>

        <div class="blink_purple">

            </div>
        {% endfor %}

        <div id="footer"> 
            
            
             
            
               <a href="https://www.yelp.com/static?p=tos">Terms | Privacy</a>
               <a href="https://www.yelp-support.com/article/How-do-I-contact-Yelp?l=en_US">Contact Us</a>
               <a href="https://www.yelp.com/about">About</a>
            </ul>


        </div>


    </div>

    </body>

</html>