<!DOCTYPE html>

<html>

    <head>
        <title> Yelpz | Home </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>

        <div class="body_wrap">
            <img src="/static/images/logo.jpg" id="logo" >
        <hr>
       
        <div id="form_wrap">
            <form action="/showResult" class="form">
                <input type="text" name="term" placeholder="Key Word ..."> </input>
                <input type="text" name="city" placeholder="City Name ..." > </input>
                <button type="submit"> Submit </button>
            </form>
        </div>

        <div id="ball">

        </div>

    </div>

    </body>

</html>