<!DOCTYPE html>

<html>

    <head>
        <title> Y| Business </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/show_Business.css') }}">
    </head>
    <body>

        <div id="header"> 
        
            <a href="/" id="home"> Home </a>
            <h4> Search | Results   </h4> 
        </div>

        <!-- Do a for loop with the range of the amount of bussines was gotten  -->
        <!-- this code is hard coded beacuse I know how many data am asking ,
        instead of using len(dictionary) . -->
        {% for i in range(20) %}
         <div class="data_container">
             <img src="{{ business_json['businesses'][i]['image_url']  }}" id="data_image"/>
             <!-- changing store close bool to human readible value Yes, No. -->
            <h2> <strong></strong>{{ business_json['businesses'][i]['name']  }} </h2>
            <h3> ⭐️:  {{ business_json['businesses'][i]['rating']  }} </h3>
            <h3>  {{ business_json['businesses'][i]['phone']  }} </h3>
            <a href="{{ business_json['businesses'][0]['url'] }}"> Visit </a>
            <!-- gif_list[0]['media'][0]['gif']['url'] -->
         </div>
         {% endfor %}

        




        

    </body>

</html>