body{
    background-color: white;
}


#header{

    text-align: center;
    width: 100%;
    height:140px;
    background-color: rgb(252, 135, 135);
    border: 1px solid none;
    border-radius: 20px;


}

#home{
    float: left;
    color: rgb(255, 255, 255);
    background-color:  rgb(222, 179, 250);
    border: 0px solid   rgb(252, 135, 135);
    font-size: 30px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    display: inline-block;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: yellow; */

    
}

.data_container{

    display: inline-block;
    width:  290px;
    height: auto;
    border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
    border-radius: 15px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    
}

#data_image{
    /* border: 6px solid red; */
    border-radius: 5px;
    width: 210px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border: 2px solid white;
    margin-top: 10px;
    /* box-shadow: 1px 1px 3px  white; */
}

h2{
    color: rgb(125, 125, 172);
    font-size: 15px;
}

h3{
    margin-top: -3x;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 15px;
    color: gray
    
}


a{
    color: white;
    background: red;
    padding: 6px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 7px;
}